</main>
<footer style="margin-top:2rem; padding:1rem; border-top:1px solid #ccc; text-align:center;">
    <p>vulnstore &copy; 2026. <a href="/file?page=about.txt">about us</a> | <a href="/lang?set=en">english</a></p>
</footer>
</body>

</html>